<!DOCTYPE html>
<html layout:decorator="index">
<body>

<div layout:fragment="content" th:remove="tag">
	<h2>Edit profile</h2>
	<span th:text="${session}"/>
	<form th:object="${dpsUser}" th:method="post" th:action="@{${#httpServletRequest.servletPath}}">
<!--		<input type="hidden" th:field="*{userId}"/>-->
		<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? error">
			<label for="edit_email">Email</label>
			<input type="email" class="form-control" id="edit_email" placeholder="Email" th:field="*{email}"/>
			<span class="help-inline" th:errors="*{email}">[error]</span>
		</div>

		<div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? error">
			<label for="edit_firstName">First name</label>
			<input type="text" class="form-control" id="edit_firstName" placeholder="First name" th:field="*{firstName}"/>
			<span class="help-inline" th:errors="*{firstName}">[error]</span>
		</div>

		<div class="form-group">
			<label for="edit_lastName">Last name</label>
			<input type="text" class="form-control" id="edit_lastName" placeholder="Last name" th:field="*{lastName}"/>
		</div>

		<div class="form-group" th:classappend="${#fields.hasErrors('dateOfBirth')} ? error">
			<label for="edit_dob">Birthday</label>
			<input type="text" class="form-control" id="edit_dob" placeholder="Date of birth" th:field="*{dateOfBirth}"/>
			<span class="help-inline" th:errors="*{dateOfBirth}">[error]</span>
		</div>

		<div class="form-group">
			<label class="radio-inline">
				<input type="radio" name="sexRadio" id="edit_male" value="MALE" th:field="*{gender}"/> Male
			</label>
			<label class="radio-inline">
				<input type="radio" name="sexRadio" id="edit_female" value="FEMALE" th:field="*{gender}"/> Female
			</label>
		</div>

		<div class="form-group">
			<label for="edit_accEmails">Accept emails</label>
			<input type="checkbox" class="form-control" id="edit_accEmails"  th:field="*{acceptEmails}"/>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
</body>

</html>