<!DOCTYPE html>
<html layout:decorator="index" xmlns:th="http://www.thymeleaf.org">
<body>
	<p th:if="${loginError}">Wrong user or password.</p>

	<div class="container" layout:fragment="content" th:remove="tag">
		<div class="card card-container">
			<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
			<p id="profile-name" class="profile-name-card"></p>
			<p th:if="${loginError}">Wrong email or password</p>
			<form class="form-signin" th:action="@{/login}" method="post">
				<span id="reauth-email" class="reauth-email"></span>
				<input type="email" id="inputEmail" name="username" class="form-control" placeholder="Email address" required="" autofocus=""/>
				<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required=""/>
				<div id="remember-me" class="checkbox">
					<label><input type="checkbox" name="remember-me"/> Remember me	</label>
				</div>
				<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
			</form>

			<button type="button" id="forgotPass" name="forgotPass" class="btn btn-default" data-toggle="modal" data-target="#forgotPasswordModal">Forgot the password?</button>

			<div th:replace="fragments/modals :: forgotPasswordModal"></div>
		</div>
	</div>
</body>
</html>