<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login page</title>
</head>
<body>
<h1>Login page</h1>

<p th:if="${loginError}">Wrong user or password</p>

<form th:action="@{/j_spring_security_check}" method="post">
	<label for="username">Email</label>:
	<input type="text" id="username" name="j_username" placeholder="example@com" autofocus="autofocus"/> <br/>

	<label for="password">Password</label>:
	<input type="password" id="password" name="j_password" placeholder="password"/> <br/>

	<label for="remember-me">Remember me</label>
	<input type="checkbox" id="remember-me" name="remember-me"/>

	<input type="submit" value="Log in"/>

	<p><a href="/index" th:href="@{/index}">Back to home page</a></p>
</form>
</body>
</html>