<!DOCTYPE html>
<html layout:decorator="index" xmlns:th="http://www.thymeleaf.org">
<body>

<div layout:fragment="content" th:remove="tag">
    <h2>Register profile</h2>
    <form th:object="${registrationForm}" th:method="post" th:action="@{/register}">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group" th:classappend="${#fields.hasErrors('profile.email')} ? error">
                    <label for="register_email">Email</label>
                    <input type="email" class="form-control" id="register_email" placeholder="Email"
                           th:field="*{profile.email}"/>
                    <span class="help-inline" th:errors="*{profile.email}">[error]</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('profile.password')} ? error">
                    <label for="register_password">Password</label>
                    <input type="password" class="form-control" id="register_password" placeholder="******"
                           th:field="*{profile.password}"/>
                    <span class="help-inline" th:errors="*{profile.password}">[error]</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('profile.firstName')} ? error">
                    <label for="register_firstName">First name</label>
                    <input type="text" class="form-control" id="register_firstName" placeholder="First name"
                           th:field="*{profile.firstName}"/>
                    <span class="help-inline" th:errors="*{profile.firstName}">[error]</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('profile.lastName')} ? error">
                    <label for="register_lastName">Last name</label>
                    <input type="text" class="form-control" id="register_lastName" placeholder="Last name"
                           th:field="*{profile.lastName}"/>
                    <span class="help-inline" th:errors="*{profile.lastName}">[error]</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('profile.dateOfBirth')} ? error">
                    <label for="register_dob">Birthday</label>
                    <input type="text" class="form-control" id="register_dob" placeholder="Date of birth"
                           th:field="*{profile.dateOfBirth}"/>
                    <span class="help-inline" th:errors="*{profile.dateOfBirth}">[error]</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('profile.gender')} ? error">
                    <label class="radio-inline">
                        <input type="radio" name="sexRadio" id="register_male" value="MALE" th:field="*{profile.gender}"/> Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sexRadio" id="register_female" value="FEMALE" th:field="*{profile.gender}"/>
                        Female
                    </label>
                    <span class="help-inline" th:errors="*{profile.gender}">[error]</span>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="register_accEmails" th:field="*{profile.acceptEmails}"/> Accept emails
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="register_interests">Interests</label>
                    <select id="register_interests" class="form-control" th:name="intCodes" multiple="multiple">
                        <option th:each="interest : ${interests}" th:text="${interest.displayName}" th:value="${interest.code}">[option]</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>

            <div class="col-md-5">
                <input type="hidden" id="register_countryCode" name="shippingAddress.contactInfo.countryCode" th:value="${T(de.andre.utils.HybrisConstants).ISO_COUNTRY_BY}"/>

                <div class="form-group" th:classappend="${#fields.hasErrors('shippingAddress.displayName')} ? error">
                    <label for="register_displayName">Address Name</label>
                    <input type="text" class="form-control" id="register_displayName" placeholder="Address Name"
                           th:field="*{shippingAddress.displayName}"/>
                    <span class="help-inline" th:errors="*{shippingAddress.displayName}">[error]</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('shippingAddress.contactInfo.city')} ? error">
                    <label for="register_city">City</label>
                    <input type="text" class="form-control" id="register_city" placeholder="City"
                           th:field="*{shippingAddress.contactInfo.city}"/>
                    <span class="help-inline" th:errors="*{shippingAddress.contactInfo.city}">[error]</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('shippingAddress.contactInfo.postalCode')} ? error">
                    <label for="register_postalCode">Postal Code</label>
                    <input type="text" class="form-control" id="register_postalCode" placeholder="Postal Code"
                           th:field="*{shippingAddress.contactInfo.postalCode}"/>
                    <span class="help-inline" th:errors="*{shippingAddress.contactInfo.postalCode}">[error]</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('shippingAddress.contactInfo.address')} ? error">
                    <label for="register_address">Address</label>
                    <input type="text" class="form-control" id="register_address" placeholder="Address"
                           th:field="*{shippingAddress.contactInfo.address}"/>
                    <span class="help-inline" th:errors="*{shippingAddress.contactInfo.address}">[error]</span>
                </div>

                <div class="form-group" th:classappend="${#fields.hasErrors('shippingAddress.contactInfo.state')} ? error">
                    <label for="register_state">State</label>
                    <select id="register_state" class="form-control" th:field="*{shippingAddress.contactInfo.state}">
                        <option th:each="st : ${states}" th:text="${st.name}" th:value="${st}">[option]</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
</body>

</html>