<h2>HTML email with attachment</h2>

<form action="sent.html" th:action="@{/account/forgotPassword}" th:method="post" enctype="multipart/form-data">

	<fieldset>
		<label for="attachAttachment">Attachment (max 10Mb):</label>
		<input type="file" id="attachAttachment" name="attachment" required="required" /> <br />

		<input type="submit" value="Send mail" />

	</fieldset>

</form>



<h2>HTML email with inline image</h2>

<form action="sent.html" th:action="@{/account/forgotPassword}" th:method="post" enctype="multipart/form-data">

	<fieldset>
		<label for="inlineImage">Inlined image (max 10Mb):</label>
		<input type="file" id="inlineImage" name="image" accept="image/*" required="required" /> <br />

		<input type="submit" value="Send mail" />

	</fieldset>

</form>