<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

  <head>
    <title>Hybris</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
  
    <h2>Example</h2>
    <div th:fragment="logout" sec:authorize="isAuthenticated()">
        Logged user: <span sec:authentication="name">Andre</span> |
        Roles: <span sec:authentication="principal.authorities">[ROLE_USER]</span> |
        <a href="/logout" th:href="@{/logout}">Logout</a>
    </div>
    <p>Hello<span th:text="${name}">Hm</span></p>
    <a href="/secure" th:href="@{/secure}">Secure</a>


    <a href="/account/profile" th:href="@{/account/profile}">My account</a>
    <a href="/login" th:href="@{/login}">Login</a>

    <h2>Exception handling</h2>
    <ul>
        <li>You can <a href="/error" th:href="@{/simulateError}">simulate an exception</a> to see custom ErrorPage.</li>
    </ul>
  </body>
  
</html>