<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Template for forgot email</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Hello, <span th:text="${name}">Peter Static</span>!
        </p>

        <p>
            Your password have been successfully reset: new password is <b><span th:text="${password}">password</span></b>.
            Updated on <span th:text="${#dates.format(date)}">28-12-2012</span>
        </p>

        <p>
            Regards, <br />
            &emsp; <em>Andrei</em>
        </p>
    </body>
</html>
