<!DOCTYPE html>
<html layout:decorator="index" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:remove="tag" layout:fragment="content" th:with="rcats=${#lists.size(rootCats)}">
    <div class="row" th:each="count : ${#numbers.sequence(0, rcats, 3)}">
        <div class="col-md-3" th:each="innerCount : ${#numbers.sequence(count, count + 2, 1)}">
            <th:block th:each="cat : ${rootCats}">
                <a th:with="catId=${cat.id}, catName=${cat.displayName}"
                   th:href="@{/catalog/category-} + ${catId}" th:title="${catName}"
                   th:unless="${innerCount} >= ${rcats}">
                    <img th:src="@{/static/images/catalog/img-} + ${catId} + '.jpg'" th:alt-title="${catName}"/>
                </a>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>