<!DOCTYPE html>
<html layout:decorator="index" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:remove="tag" layout:fragment="content" th:with="rcats=${#lists.size(rootCats)}">
    <div class="row" th:each="count : ${#numbers.sequence(0, rcats, 3)}">
        <div class="col-md-3" th:each="innerCount : ${#numbers.sequence(count, count + 2, 1)}">
            <a th:with="catId=${rootCats[__${innerCount}__].id}, catName=${rootCats[__${innerCount}__].displayName}"
               th:href="@{/catalog/category-} + ${catId}" th:title="${catName}"
               th:unless="${innerCount} >= ${rcats}">
                <img th:src="@{/static/images/catalog/img-} + ${catId} + '.jpg'" th:alt-title="${catName}"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>