<!DOCTYPE html>
<html layout:decorator="index" xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:remove="tag" layout:fragment="content">
            <div class="row">
                <h4 th:text="${product.displayName}">Product Name</h4>
                <div class="col-md-9">
                    <!--<span th:text="${session}"/>-->
                    <div class="thumbnail">
                        <img class="img-responsive" src="http://placehold.it/800x300" th:alt-title="${product.displayName}"/>
                        <div class="caption-full" th:with="onSale=${prdPrice.salePrice != null and prdPrice.salePrice > 0}">
                            <h4 class="pull-right"
                                th:utext="${onSale ? '&lt;s&gt;' + '$' + prdPrice.basePrice + '&lt;/s&gt;' : '$' + prdPrice.basePrice}">
                                $24.99</h4>
                            <h4 class="pull-right" th:if="${onSale}" th:text="'$' + ${prdPrice.salePrice} + '&nbsp;'">
                                $24.99</h4>
                            <!--<h4 th:text="${product.brand} + ' brand.'">Brand</h4>-->
                            <p th:text="${product.description}">See more</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>

                        <form class="form-inline" th:method="post" th:action="@{/product/processItem}">
                            <div class="form-group">
                                <label class="sr-only" for="quantityAmount">Quantity</label>
                                <div class="input-group">
                                    <div class="input-group-addon">№</div>
                                    <input type="hidden" name="productId" th:value="${product.id}"/>
                                    <input type="text" name="quantity" class="form-control" id="quantityAmount" placeholder="Quantity"/>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Add to cart</button>
                        </form>

                        <br/>
                        <div class="ratings">
                            <p class="pull-right">3 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                4.0 stars
                            </p>
                        </div>
                    </div>

                    <div class="well">

                        <div class="text-right">
                            <a class="btn btn-success">Leave a Review</a>
                        </div>

                        <hr/>

                        <div class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                Anonymous
                                <span class="pull-right">10 days ago</span>
                                <p>This product was great in terms of quality. I would definitely buy another!</p>
                            </div>
                        </div>

                        <hr/>

                    </div>

                </div>

            </div>
        </div>
    </body>
</html>