<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-lg-12">
            <p> &copy; Andre 2016. All right reserved. </p>
            <ul class="nav nav-pills payments">
                <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-amex"></i></li>
                <li><i class="fa fa-cc-paypal"></i></li>
            </ul>
        </div>
    </div>
</footer>