<div th:fragment="addressModal" class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addressModalLabel">Address</h4>
            </div>
            <div class="modal-body">

                <form id="modal_addrForm">
                    <input type="hidden" id="modal_addressName" name="modal_addressName"/>
                    <input type="hidden" id="modal_addrCountryCode" name="countryCode" th:value="${T(de.andre.utils.HybrisConstants).ISO_COUNTRY_BY}"/>

                    <div class="form-group">
                        <label for="modal_addrDisplayName">Address Name</label>
                        <input type="text" class="form-control" id="modal_addrDisplayName" placeholder="Name"/>
                    </div>

                    <div class="form-group">
                        <label for="modal_addrState">State</label>
                        <select id="modal_addrState" class="form-control">
                            <option th:each="st : ${states}" th:text="${st.name}" th:value="${st}">[option]</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="modal_addrCity">City</label>
                        <input type="text" class="form-control" id="modal_addrCity" placeholder="City"/>
                    </div>

                    <div class="form-group">
                        <label for="modal_addrPostalCode">Postal code</label>
                        <input type="text" class="form-control" id="modal_addrPostalCode" placeholder="******"/>
                    </div>

                    <div class="form-group">
                        <label for="modal_addrAddress">Main address</label>
                        <input type="text" class="form-control" id="modal_addrAddress" placeholder="Main address"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="modal_addrSubmit">Proceed</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div th:fragment="forgotPasswordModal" class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="forgotPasswordModalLabel">Forgot password?</h4>
            </div>
            <div class="modal-body">

                <form id="modal_forgotPass">
                    <div class="form-group">
                        <label for="modal_forgot_email">Email</label>
                        <input type="text" class="form-control" id="modal_forgot_email" placeholder="example@com"/>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="forgotPasswordSubmit">Proceed</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>